<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS4"
        cardPrice="R$ 199,90"
    >
    </app-card>
    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DIGITAL | XBOX PS4 "
        cardPrice="R$ 269,99"
    >
    </app-card>
    <app-card 
        gameCover="assets/bt-5.jpg"
        gameLabel="NEW"
        gameType="DISC | PS5"
        gamePrice="R$ 320,99"
    >
    </app-card>
    <app-card 
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="DIGITAL"
        gameType="DISC | PS4 PS5"
        gamePrice="R$ 210,99"
    >
    </app-card>
    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISC | PS5"
        gamePrice="R$ 320,99"
    >
    </app-card>
    <app-card 
        gameCover="assets/ac-cover.jpg"
        gameLabel="NEW"
        gameType="DISC | PS5 PS4 XBOX"
        gamePrice="R$ 199,99"
    >
    </app-card>
</div>
