<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img 
            src="assets/ps-logo.png" 
            alt="Playstation Logo"
            width="140px"
            height="32px"
        >
    </div>
    <div class="menu-bar__item">
        <ul>
            <li>
                <a href="https://www.linkedin.com/in/caio-henrique-8619a2232/">Linkedin</a>
            </li>
            <li>
                <a href="https://github.com/CaioSiqueira01">GitHub</a>
            </li>
            <li>
                <a href="https://portfolio-xi-six-84.vercel.app/">Portfolio</a>
            </li>
        </ul>
    </div>
</div>